body{
  background-color: #222222;
	margin: 0;
	font-family: 'Cinzel', serif;
}

#heading, #menu {
	text-align: center;
	margin:0;
	text-transform: uppercase;	
}

table{
  width: 45%;
  margin: auto;
  top:5%;
}
table.diamondsweeper-board {
  td {
    padding: 0;
  }
}

.cell {
  cursor: pointer;
  width: 100%;
  padding-bottom: 100%;
  background-size: 100%;
  background-color: #b7a888;
  transition: background 0.8s;
	-webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  border-radius: 15%;
  

  &.diamond {
    background-image: url(diamond.png);
    background-color: #f5d787;
  }

  &.arrow {
    background-image: url(arrow.png);
    background-color: #ffffff;
    animation: blinker 1s linear 3;
    
    @keyframes blinker {  
      50% { background-color: #b7a888; }
    }

    &.left {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    &.top {
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Safari 3-8 */
      transform: rotate(-90deg);
    }
    &.down {
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Safari 3-8 */
      transform: rotate(90deg);
    }
  }

  &.unknown {
    background-image: url(question.png);
    background-color: #e8e3c4;
  }
}
