<html>
  <head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <div id="container">      
      <div>
        <div id="heading">
            <span id="game-name">The Diamond Sweeper Game</span>         
            <span id="score-section">
              <span id="message"> </span>
              Your Score: <span id="score"></span>
            </span>
        </div>
        <table class="diamondsweeper-board" >
          <tbody id="main-board">              
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
